*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 10%;
    background-color: #eef;
}

.home-content {
    max-width: 50%;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-image {
    max-width: 400px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

