*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 10%;
    background-color: #eef;
}

.home-content {
    max-width: 50%;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-image {
    max-width: 400px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.cta-button{
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

.features {
    padding: 60px 10%;
    background-color: #f9f9f9;
    text-align: center;
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.features-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.feature{
    padding: 20px;
    width: 220px;
}

.feature-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.quote {
    padding: 60px 10%;
    background-color: #fff3cd;
    text-align: center;
    font-style: italic;
}

blockquote {
    margin: 0 auto;
    max-width: 800px;
}

.quote p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #333;
}

.quote footer {
    background-color: none;
    padding: 0;
    margin-top: 20px;
    font-weight: bold;
}

.CTA {
    padding: 60px 10%;
    background-color: #4f46e5;
    color: #222;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;

}

.CTA h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}